{% render "partials/head.liquid" %}

<section class="error">
    <img src="/assets-404/error-icon.svg" alt="" height="100" width="100">

    <h1>Oops 404 error</h1>
    <p>Something went wrong. The page you are trying to reach is not available. Please check our other pages.</p>

    <nav class="navigatie-error">
        <a href="/">Home</a>
        <a href="/webinars">Webinars</a>
        <a href="/contourings">Contourings</a>
        <a href="/speakers">Speakers</a>
        <a href="/about-us">About us</a>
        <a href="/profile">Profile</a>
    </nav>
</section>

{% render "partials/foot.liquid" %}