{% render "partials/head.liquid" %}

<section class="error">
    <img src="/assets-404/error-icon.svg" alt="" height="100" width="100px">

    <h1>Oops 404 error</h1>
    <p>Something went wrong. The page you are trying to reach is not available. Please check our other pages.</p>

    <ul class="navigatie-error">
        <li><a href="/">Home</a></li>
        <li><a href="/webinars">Webinars</a></li>
        <li><a href="/contourings">Contourings</a></li>
        <li><a href="/speakers">Speakers</a></li>
        <li><a href="/about-us">About us</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</section>

{% render "partials/foot.liquid" %}