{% render "partials/head.liquid" %}

<form method="POST" action="/bookmark" class="bookmark-form">
  <button type="submit" class="bookmark-btn" data-state="default">
    <span class="plus-icon">
      <!-- plus icon (default) -->
      <svg class="btn-icon-default" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="20" height="20">
        <path d="M440-440H240q-17 0-28.5-11.5T200-480q0-17 11.5-28.5T240-520h200v-200q0-17 11.5-28.5T480-760q17 0 28.5 11.5T520-720v200h200q17 0 28.5 11.5T760-480q0 17-11.5 28.5T720-440H520v200q0 17-11.5 28.5T480-200q-17 0-28.5-11.5T440-240v-200Z"/>
      </svg>
      <!-- check icon (success) -->
      <svg class="btn-icon-success" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="20" height="20" fill="#B9FF66">
        <path d="m382-354 339-339q12-12 28-12t28 12q12 12 12 28.5T777-636L410-268q-12 12-28 12t-28-12L182-440q-12-12-11.5-28.5T183-497q12-12 28.5-12t28.5 12l142 143Z"/>
      </svg>
    </span>
    <span class="bookmark-btn-label">Bookmark</span>
  </button>
  <p class="btn-feedback" hidden></p>
</form>

