{% render "partials/head.liquid" %}

    <h1>Contourings</h1>

    {% for contouring in contourings %}
        <ul>
            <li><a href="/contourings/{{ contouring.slug }}">{{ contouring.slug }}</a></li>
        </ul>
    {% endfor %}

{% render "partials/foot.liquid" %}