{% render "partials/head.liquid" %}

{% if contouring %}
  <h1>{{ contouring.slug }}</h1>
  <p>{{ contouring.description }}</p>
{% else %}
  {% render "partials/contouring-404.liquid" %}
  
{% endif %}

{% render "partials/foot.liquid" %}
