{% render "partials/head.liquid" %}


    <h1>Contourings detail</h1>

    {% for contouring in contourings %}
        <p>{{ contouring.slug }}</p>
    {% endfor %}

{% render "partials/foot.liquid" %}