{% assign pageTitle = "Profile | Oncollaboration" %}
{% include "partials/head.liquid" %}

    <h1>Profile</h1>

    <ul>
        <li><a href="/profile/bookmarks">Profile bookmarks</a></li>
    </ul>

{% render "partials/foot.liquid" %}