{% render "partials/head.liquid" %}
    {% comment %} {% include "partials/header.liquid" %} {% endcomment %}

    <main class="main-speakers components-alignment-vertical">
        <section class="speakers-introduction">
            <div class="speakers-section-title">
                <ul class="breadcrumbs-speakers components-alignment-horizontal">
                    <li><a href="/">Home &rsaquo;</a></li>
                    <li><a href="/speakers">Speakers</a></li>
                </ul>
                <h1>Speakers</h1>
            </div>
            <div class="speakers-introduction-description">
                <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Enim ipsum non egestas; primis luctus cubilia. Donec ut venenatis.</p>
            </div>
        </section>

        <section class="speakers-sort-filter">
            <div class="speakers-section-title">
                <h2>Filter</h2>
            </div>

            <!-- Filter formulier -->
            <form class="speakers-filter" method="get" action="/speakers">
                <label for="speakers-filter">
                    View all speakers or use the filter to view your bookmarked speakers.
                </label>
                
                    <select id="filter" name="filter">
                        <button>
                            <selectedcontent></selectedcontent>
                        </button>
                        <option value="all" {% if currentFilter == "all" %}selected{% endif %}>All</option>
                        <option value="bookmarked" {% if currentFilter == "bookmarked" %}selected{% endif %}>Bookmarked speakers</option>
                    </select>
                <button type="submit" class="speakers-submit button-green">Filter speakers</button>
            </form>
        </section>

        <section class="speakers-overview components-alignment-vertical">
            <div class="speakers-section-title">
                <h2>All</h2> 
            </div>

            <div class="speakers-container components-alignment-vertical" >
                <!-- Article voor elke speaker -->
                {% for speaker in speakers %}
                    {% include "partials/speaker-card.liquid" %}
                {% endfor %}
            </div>
        </section>
    </main>

    <script src="/script-speaker.js" type="module"></script>
    
{% render "partials/foot.liquid" %}