.about-us-main-title {
    margin: 1.5rem 2rem;

    @media screen and (min-width: 720px) {}

    @media screen and (min-width: 1020px) {}
}

.about-us-intro-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    .about-us-intro-p {
        line-height: 1.7rem;
        width: 700px;
        margin: 1rem 2rem;
    }

    .about-us-intro-picture {
        margin: 1rem;
        border-radius: 7px;
        display: flex;
        justify-content: center;
    }
}

.about-us-team-section {
    background-color: var(--secondary-light);
    padding: 2rem;
    text-align: center;

    .about-us-team-title {
        margin-bottom: 1.5rem;
    }

    .about-us-team-card-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-items: center;
        gap: 1rem;

        .about-us-team-card {
            display: flex;
            gap: 0.5rem;
            margin: 1rem;
            position: relative;
            background-color: var(--secondary-text);
            border-radius: var(--border-radius-md);
            padding: 1.3rem;
            width: 100%;
            max-width: 300px;
            max-height: fit-content;
            color: var(--primary-dark);
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            .about-us-team-card-title {
                font-size: 1.2rem;
                font-weight: bold;
                color: var(--primary-text);
                text-align: left;
                overflow: hidden;
                text-wrap: nowrap;
                text-overflow: ellipsis;
            }

            .about-us-team-role {
                text-align: left;
                color: var(--primary-highlight);
            }

            .about-us-team-photo {
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin-bottom: 0;
            }

            a {
                text-align: left;
                margin: 1rem;
                transition: .2s ease-in-out;
            }
        }
    }
}

.about-us-partner-title {
    margin: 1.5rem 2rem;
}

.about-us-partner-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;

    .about-us-partner-p {
        line-height: 1.7rem;
        width: 700px;
        margin: 1rem 2rem;
    }
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.logo-marquee {
    overflow: hidden;
    background-color: var(--primary-highlight);
    border: 1px solid var(--primary-dark);
    border-radius: var(--border-radius-md);
    padding: 1.5rem 0;
    width: 80%;

    .logo-track {
        display: flex;
        gap: 2rem;
        animation: scrollLeft 30s linear infinite;
        width: max-content;
    }

    .logo-track img {
        height: 100px;
        width: 150px;
        object-fit: contain;
    }
}