.button-animated-amber {
    background-color: var(--primary-highlight);
    color: var(--primary-dark);
    font-family: var(--font-paragraph);
    font-size: var(--border-radius-md);
    padding: var(--padding-button);
    border-radius: var(--border-radius-sm);
    border: solid 2px var(--primary-highlight);
    transition: 0.2s ease-in-out;
    align-self: baseline;
    position: relative;
    overflow: hidden;
}

.button-animated-amber::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-40%, 50%) scale(0);
    background-color: #00193F;
    width: 25em;
    height: 25em;
    border-radius: 50%;
    z-index: 0;
    transition: transform .4s ease;
}

.button-animated-amber:hover::before {
    transform: translate(-50%, 50%) scale(0.5);
    transition: transform .3s
}

.button-animated-amber span {
    position: relative;
    z-index: 1;
}

.button-animated-amber:hover {
    color: var(--secondary-text);
    border: solid 2px var(--primary-dark);
}

.button-animated-amber:active {
    border: solid 2px var(--primary-highlight);
}

.button-animated-amber:active {
    border: solid 2px var(--primary-highlight);
}