.contouring-card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
  border: 1px solid green;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  max-width: 18.75rem;
}

.contouring-card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.contouring-card h2 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
}
