body {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    background-color: var(--primary-dark);
    border-radius: 1em 1em 0 0;
    padding: 3em 1em 2em 1em;
    color: var(--secondary-text);
    margin: 0 0 4em 0;

    @media screen and (min-width: 720px) {
        padding: 5em 7em 2em 7em;
        margin: 0;
    }

    h6 {
        margin: 0;
    }

    p {
        line-height: 25px;
    }

    a {
        color: var(--secondary-text);
        text-decoration: none;
        font-size: 16px;
        transition: .2s ease-in-out;

        &:hover {
            color: var(--primary-highlight);
            transition: .2s ease-in-out;
        }
    }

    .wrapper-footer {
        display: flex;
        flex-direction: column;
        gap: 2em;

        @media screen and (min-width: 720px) {
            flex-direction: row;
            justify-content: space-between;
        }

        .about-footer,
        .navigation-footer,
        .contact-footer {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .about-footer {
            @media screen and (min-width: 720px) {
                width: 30%;
            }

            .wrapper-logo-footer {
                display: flex;
                flex-wrap: wrap;
                align-items: center;

                img {
                    width: auto;
                }
            }
        }

        .navigation-footer ul,
        .contact-footer ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: .8em;
        }

        .contact-footer ul li,
        a {
            font-size: 16px;
            display: flex;
            gap: .4em;
        }
    }

    .divider-footer {
        height: 1px;
        width: 100%;
        background-color: #656565;
    }

    .legal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: .5em;

        .legal-links {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            gap: .8em;
        }
    }
}