.main-header {
    width: 100%;
    display: flex;
}

.logo-nav {
    display: none;
}

.menu {
    position: fixed;
    z-index: 99;
    bottom: 0;
    background-color: var(--primary-dark);
    border-radius: 1em 1em 0em 0em;
    width: 100%;
    padding: 1em;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-items li {
    list-style-type: none;
    display: flex;
}

.menu-items li:nth-of-type(4) {
    display: none;
}

.menu-items li:nth-of-type(5) {
    display: none;
}

.menu-items li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-text);
    transition: 0.2s ease-in-out;
}

.menu-items li a svg path {
    fill: #fff;
    transition: 0.2s ease-in-out;
}

.menu-items li a:hover {
    color: var(--primary-highlight);
}

.menu-items li a:hover svg path {
    fill: var(--primary-highlight);
}

.menu-items li .profile-link {
    font-size: 16px;
}

.menu-items li .profile-link:hover {
    color: var(--primary-highlight);
    background-color: unset;
}

.menu-items li .profile-link:hover svg path {
    fill: var(--primary-highlight);
}

.menu-items li .profile-link svg path {
    fill: #fff;
}

.nav-logo-mobile {
    position: sticky;
    top: 0;
    background-color: var(--primary-dark);
    width: 100%;
    padding: 1em 1em 0.5em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 1em 1em;
}

.nav-logo-mobile img {
    width: 8em;
    height: auto;
}

/* ---------- Media Queries ---------- */

@media screen and (min-width: 720px) {
    .menu-items {
        justify-content: center;
        gap: 3em;
    }
}

@media screen and (min-width: 1055px) {
    .main-header {
        position: sticky;
        z-index: 99;
        top: 0;
        background-color: var(--primary-dark);
        border-radius: 0 0 1em 1em;
        display: flex;
        align-items: center;
        padding: 1em 7em;
    }

    .logo-nav {
        display: flex;
    }

    .menu {
        position: unset;
        top: 0;
        bottom: unset;
        background-color: unset;
        padding: 0;
    }

    .menu-items {
        justify-content: flex-end;
        gap: 0;
    }

    .menu-items li:nth-of-type(4) {
        display: unset;
    }

    .menu-items li:nth-of-type(5) {
        display: unset;
    }

    .menu-items li a {
        color: var(--secondary-text);
        margin-left: 2em;
    }

    .menu-items li a svg {
        display: none;
    }

    .menu-items li .profile-link {
        background-color: var(--primary-highlight);
        color: var(--primary-dark);
        font-family: var(--font-paragraph);
        font-size: var(--border-radius-md);
        border-radius: var(--border-radius-sm);
        transition: 0.2s ease-in-out;
        align-self: baseline;
        padding: 0.6em 1em;
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        border: 1px solid var(--primary-highlight);
    }

    .menu-items li .profile-link svg {
        display: unset;
    }

    .menu-items li .profile-link svg path {
        fill: var(--primary-dark);
    }

    .nav-logo-mobile {
        display: none;
    }
}
