@media (prefers-reduced-motion: no-preference) {
    .speakers-container article, .webinar-cards li {
        animation: linear animate-in;
        animation-timeline: view();
    }
}

@keyframes animate-in {
    entry 0%  {
        opacity: 0; transform: translateY(100%);
    }
    entry 100%  {
        opacity: 1; transform: translateY(0);
    }
}